@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Noto+Sans+Symbols:wght@400;700&family=Noto+Serif+Hebrew:wght@400;700&display=swap');
:root {
    font-size: 12pt;
    font-family: 'EB Garamond', serif;
    --bar-size: 10vh
}
* {
    margin: 0;
}
h1 {
    text-align: center;
}
a {
    font-weight: bold;
    border: solid 3px black;
    border-radius: 6px;
    color: black;
    background-color: #fff;
    padding: 0.25rem;
    margin: 0.25rem;
}
nav {
    background-color: #eee;
    display: flex;
    position: fixed;
}
main {
    padding: 1.5rem;
    border-radius: 2rem;
    outline-offset: -1rem;
    outline-width: 0.5rem;
    outline-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* [<->] */
@media (orientation:landscape){
    main {
        margin-left: var(--bar-size);
        height: 93vh;
    }
    nav {
        width: var(--bar-size);
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
}
/* [^] */
@media (orientation:portrait){
    main {
        height: 83vh;
    }
    nav {
        width: 100vw;
        height: var(--bar-size);
        bottom: 0;
        align-items: center;
        justify-content: center;
    }
}