* {
    margin: 0;
}
h1 {
    text-align: center;
}
@media (orientation:portrait){
    main {
        margin: 12px;
        padding: 12px;
        border: solid 6px black;
        border-radius: 20px;
        float:left;
    }
    nav {
        background-color: #eee;
        width: 100%;
        padding: 6px;
        position: absolute;
        bottom:0;
        direction: rtl;
    }
}
@media (orientation:landscape){
    main {
        margin: 12px;
        padding: 12px;
        border: solid 6px black;
        border-radius: 20px;
        float:left;
    }
    nav {
        background-color: #eee;
        padding: 6px;
        float: left;
        display: grid;
    }
}
a {
    border: solid 3px black;
    border-radius: 6px;
    color: black;
    background-color: #fff;
    padding: 0.25rem;
}